/* bellow is my first page (user from) page coding
part a: semantic element
. the submit botton wont work if ant thing is wrog 
. it shiuld give an error if u use 
. has to be display grid to remove the character which shouldnt be there */
/* button:not(body, findout-more>#findout-window>button), input[type="submit"] {
    display: block;
    margin: auto;
    width: 210px;
    height: 45px;
    padding: 0 25px;
    color:navy;
    border: 1px solid gray;
    background: radial-gradient(rgb(4, 243, 252), rgb(246, 246, 248), rgb(202, 208, 211));
} */

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0%;
    text-align: center;
    align-items: flex-start;
}

header {
    height:20em;
    width: 80%;
    height: 30vh; 
    background-color: rgb(53, 53, 53);
}
.contact {
    width: 100%;
    height: max-content;
    background-color: #272727;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.contact-wrapper {
    width: 60%;
    height: max-content;
    display: flex;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5)
}
.contact-left {
    width: 35%;
    background: linear-gradient
    (rgba(15, 15, 15, .6), rgba(22, 22, 22, .9)), url() center 
    no-repeat;
    background-size: cover;
}
.contact-right {
    width: 65%;
    background-color: white;
    padding: 3rem 10rem 10rem 10rem;
}
.contact-heading {
    font-family: 'baloo da 2',
    serif;
    font-size: 6rem;
    font-weight: 300;
    color: #272727;
    margin-bottom: 5rem;
    text-align: center;
}
.contact-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.input-group {
    position: relative;
    width: 90%;    
}
.input-group input {
    display: block;
    width: 100%;
    padding-right: -30px;
}
.input-group i {
    position: absolute;
    top: 3px;
    right: -30px;
}
.input-group .far,
.input-group small {
    display:none;
}
.input-group.success {
    border: 1px solid green;
    
}
.input-group.Error {
    border: 1px solid red;
}
.input-group.Error small {
    display: block;
    color: red;
}
input:invalid {    
    border:1px solid red;
}
.input-group .Error input {
    border:1px solid red;
}

.input-group .small i.fa-check-circle {
display: block;
color: green;
}
.input-group .small i.fa-exclamation-circle {
    display: block;
    color: red;
    }
.input-group .small i.fa-exclamation-circle {
    display: block;
    color: red;
    }
    
.field {
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: 2rem dashed 
    #636363;
    margin: 3rem 0;
    padding: 1rem 1rem 1rem 0;
    font-family: "Muli", serif;
    font-size: 1.6rem;
    color: #4b4b4b;
}
.input-group input {
    height: 4rem;
}
.input-group textarea {
    max-height: 7rem;
    max-width: 45rem;
}
.field:focus {
    border-bottom-style: solid;
}
.input-group label {
    position: absolute;
    left: 0;
    font-family: "Baloo Da 2",
    serif;
    font-size: 1.8rem;
    color: #4b4b4b;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.4s;
}
.input-label {
    bottom: 3rem;
}
.message {
    bottom: 6rem;
}
.field:focus ~ label{
    transform: translateY(-3rem);
    font-size: 1.2rem;
}
.submit-btn {
    width: 45rem;
    height: 5rem;
    background-color: #c29525;
    color: white;
    border: none;
    margin-top: 2rem;
    font-family: "Muli" serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.footer-container {
    background-color: rgb(53, 53, 53);
    padding: 4rem 0 4rem 0;
}
.footer {
    width: 80%;
    height: 30vh;
    background-color: rgb(53, 53, 53);
    color: rgb(124, 161, 230);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h4 h2 {
    margin-bottom: 2rem;
}
.footer-heading a {
    color: rgb(247, 247, 247);
    margin-bottom: 0.5rem;
}
.footer-heading a:hover {
    color: rgb(115, 224, 163);
    transition: 0.3s ease-out;
}
.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    border-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#fooret-email::placeholder {
    color: white
}
#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: yellow;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
}
/* #footer-email-btn:hover {
    cursor: pointer;
    background-color: rgb(27, 174, 233);
    transition: all 0.4s ease-out;
} */
/* @media screen and (max-width: 1400px) {
    .footer {
        height: 50vh;
    }
    .footer-email-formm {
        margin-top: 4rem;
    }
} */
@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}
@media screen and (max-width: 720px) {
    .footer-3 {
        display: none;
    }
    /* .footer-email-formm {
        margin-top: 2rem; naaaaaaaaaaaaaaaaaaaaa
    } */
}

